<div class="tech-btm">
	<h4>Bültene Abone Ol</h4>
	<p>Truck Video, Image and People</p>
	<form action="/NewsLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Subscribe">
	</form>
</div>