
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Dinamik Blog Listesi Excel Export</h4>

            <a href="/Admin/Blog/ExportDinamikExcelBlogList/" class="btn btn-primary">Excel Listesini İndir...</a>
            <br />

        </div>
    </div>
</div>

