<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Hakkımızda</h1>

                <h3 class="font-bold no-margins">
                    Rinoda AI ve Dijital Teknoloji Ltd. Sti
                </h3>
                <small>Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Eklenen Blog</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.SonBlogYazari
                </h3>
                <small>@ViewBag.SonEklenenBlog</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 50.992</h1>

                <h3 class="font-bold no-margins">
                    Site Kazancı
                </h3>
                <small>Google Adsense.
                </small>
                <br />
                <small>Omeraydogdu, Hayvansahiplenme, Sosyal YT</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
